# 服务发现配置
CONSUL_HOST=localhost
CONSUL_PORT=8500
CONSUL_SERVICE_KEY=consul-crawler.rpc

# MongoDB配置
MONGODB_URI=mongodb://username:password@localhost:27017/
MONGODB_DATABASE=crawler_db
MONGODB_POST_COLLECTION=crawler_posts
MONGODB_COMMENT_COLLECTION=crawler_comments
MONGODB_TASK_COLLECTION=crawler_tasks

# 分页配置
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100

# 查询配置
SEARCH_OPTIONS=i

# 排序配置
POST_SORT_FIELD=time
POST_SORT_ORDER=-1
COMMENT_SORT_FIELD=time
COMMENT_SORT_ORDER=-1

# 评论配置
COMMENTS_PER_POST=20