# Web框架
fastapi>=0.105.0
uvicorn>=0.25.0

# MongoDB数据库
motor>=3.3.1
pymongo>=4.5.0

# 数据模型和配置
pydantic>=2.5.2
pydantic-settings>=2.1.0
python-dotenv>=1.0.0

# gRPC相关
grpcio>=1.67.0
protobuf>=4.21.1
grpcio-tools>=1.67.0

# 认证相关
python-jose>=3.3.0
passlib[bcrypt]>=1.7.4